@import '../../styles/variables.scss';
.form-finishing-up{
  display: flex;
  flex-direction: column;
  padding: 20px 50px;
  &__title{
    font-size: 24px;
    color: $MarineBlue;
    margin-bottom: 10px;
  }
  &__subtitle{
    font-size: 16px;
    color: $LightGray;
    margin-bottom: 20px;
  }
}
.form-finish{
  padding: 15px;
  border-radius: 5px;
  background-color: $LightBlue;
  &__head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
    margin-bottom: 5px;
    border-bottom: 1px solid $CoolGray;
  }
  &__wrapper{
    display: flex;
    flex-direction: column;
  }
  &__item{
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__title{
    color: $MarineBlue;
    font-size: 16px;
    font-weight: 600;
  }
  &__select-title{
    color: $CoolGray;
  }
  &__select-price{
    color: $MarineBlue;
    font-size: 14px;
    font-weight: 400;
  }
  &__change{
    color: hsl(227, 33%, 45%);
  }
  &__arcade-price{
    color: $MarineBlue;
    font-size: 14px;
    font-weight: 600;
  }
}
.user-info-list{
  margin-bottom: 10px;
  &__item{
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.form-finish-footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  &__select-title{
    color: $CoolGray;
  }
  &__total-price{
    color: $PurplishBlue;
    font-size: 16px;
    font-weight: 600;
  }
}