@import '../../styles/variables.scss';
.form__button-nextstep{
  border: none;
  background-color: $MarineBlue;
  padding: 10px;
  color: $White;
  font-size: 16px;
  border-radius: 5px;
  transition: background 0.2s linear,
  color 0.2s linear;
  cursor: pointer;
  &:hover{
    background-color: $PurplishBlue;
    color: $StrawberryRed;
  }
}