@import '../../styles/variables.scss';
.form-buttons__button-goback{
  background-color: transparent;
  border: none;
  color: $MarineBlue;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: color 0.2s linear;
  &:hover{
    color: $StrawberryRed;
  }
}